trigger:
    - master

strategy:
    matrix:
        windows:
            imageName: 'vs2017-win2016'

pool:
    vmImage: $(imageName)

variables:
    buildConfiguration: 'Release'

steps:
    - script: dotnet build ExchangeSharpTests.csproj --configuration $(buildConfiguration)
      displayName: 'Build All'
    - script: dotnet test ExchangeSharpTests.csproj --configuration $(buildConfiguration)
      displayName: 'Test'